<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>ProcessingData</string>
		<string>BackGroundFetchData</string>
	</array>
	<key>Appearance</key>
	<string>Light</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bloctoe3328c9b-287d-45e1-bf3b-c484de7295f5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bloctobb5afa5b-c369-4e07-915e-ffcd3450dc80</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Dubai Dubstep Italic.otf</string>
		<string>Dubai Dubstep.otf</string>
		<string>Dubai Dubstep Italic.otf</string>
		<string>Dubai Dubstep.ttf</string>
		<string>Aquawax-Pro-Light-Alt-Version.ttf</string>
		<string>Aquawax-Pro-Bold-Alt-Version.ttf</string>
		<string>Aquawax-Pro-Heavy-Alt-Version.ttf</string>
		<string>Aquawax-Pro-DemiBold-Alt-Version.ttf</string>
		<string>Aquawax-Pro-Regular-Alt-Version.ttf</string>
		<string>Aquawax-Pro-Medium-Alt-Version.ttf</string>
		<string>Aquawax-Pro-Light.ttf</string>
		<string>Aquawax-Pro-Regular.ttf</string>
		<string>Aquawax-Pro-Heavy.ttf</string>
		<string>Aquawax-Pro-Medium.ttf</string>
		<string>Aquawax-Pro-DemiBold.ttf</string>
		<string>Aquawax-Pro-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
